* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #FF9A4B;
  width: 100%;
  height: 50px;
}

main {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.step {
  background-color: #EEEEEE;
  width: 300px;
  padding: 10px;
  position: relative;
}

.step:nth-child(2) {
  margin: 0 30px;
}

.step-image {
  width: 100% ;
  height: 150px;
  background-size: cover;
}

.img1 {
  background-image: url(img/flow01.png);
}

.img2 {
  background-image: url(img/flow02.png);
}

.img3 {
  background-image: url(img/flow03.png);
}

.step-number {
  background-color: #FF9A4B;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.step-text-title {
  margin-top: 15px;
  margin-bottom: 5px;
}

footer {
  background-color: #AAAAAA;
  width: 100%;
  height: 50px;
}